*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/taskHistory/taskHistory.bin
.gradle/4.10.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/taskHistory/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
